.RightSide {
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: space-evenly;
  font-size: 13px;
  
}

/* ✅ Mobile view adjustments */
@media (max-width: 768px) {
  .RightSide {
    width: 100%;
    padding:2rem 1rem;
    box-sizing: border-box;
  }
}
