.CompactCard{
    display: flex;
    /* تأكد من إزالة flex: 1 من هنا كما ذكرنا سابقاً */
    height:10rem !important;
    position: relative;
    border-radius: 0.7rem;
    color: white;
    cursor: pointer;
    margin:0.5rem;/* قم بتصغير الحجم ليتناسب مع التصميم الجديد */
    padding: 1rem;
    /* أضف هذا السطر للتأكد من أن الكارد يملأ الـ parentCard */
    width: 100%; 
}
.CompactCard:hover{
    box-shadow: none !important;
}
/*radialbar*/
.radialBar {
 flex: 1;
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 gap: 1rem;
}
.CircularProgressbar {
 width: 6rem !important; 
  height: 80%;
  overflow: visible;
}
.CircularProgressbar-path{
    stroke: white !important;
    stroke-width: 12px !important;
    filter: drop-shadow(2px 4px 6px white);
   
}
.CircularProgressbar-trail{
display:none;
}
.CircularProgressbar-text{
    fill: white !important;

}
.radialBar>span{
    font-size: 17px;
    font-weight: bold;

}
/*details*/
.detail {
    display: flex;
flex: 1;
flex-direction: column;
justify-content: space-between;
align-items: flex-end;
}
.detail>span:nth-child(2){
    font-size: 22px;
    font-weight: bold;
}
.detail>span:nth-child(3){
    font-size: 12px;
    font-weight: bold;
}
/* expanded card*/
.ExpandedCard{
    position: absolute;
    width:100%;
    height: 80vh;
    z-index: 100;
    left: 1rem;
    border-radius:1rem ;
    -webkit-border-radius:1rem ;
    -moz-border-radius:1rem ;
    -ms-border-radius:1rem ;
    -o-border-radius:1rem ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}
.ExpandedCard>span:nth-child(2){
   color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-shadow: 0 0 16px white;

}
.ExpandedCard>span:nth-child(3){
    color: wheat;
    font-size: 16px;
}
.chartContaine{
    width: 100%;
   
}
@media (max-width: 768px) {
  .ExpandedCard {
    width: 100%;
    height: auto;
    left: 0;
    top: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    z-index: 100;
  }

  .ExpandedCard > span:nth-child(2) {
    font-size: 1.2rem;
    text-align: center;
  }

  .ExpandedCard > span:nth-child(3) {
    font-size: 14px;
    text-align: center;
  }

  .chartContaine {
    width: 100%;
  }
}